@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background: #350048;
  background: -webkit-linear-gradient(to right, #5d326c, #350048);
  background: linear-gradient(to right, #5d326c, #350048);
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
}
